<div class="footer">
    <footer>
      <ul>
        <li><a href="/about"> ABOUT </a></li>
        <li><a href="#"> FAQ </a></li>
        <li><a href="/contact"> Contact </a></li>
      </ul>
      
      <ul>
        <li> <p class="copyright">&copy;  2022 RecAlbums </p> </li>
      </ul>
    </footer>
  </div>

</body>
</html>