<%- include('./partials/header.ejs')%>
<div class="aboutpage">
    <h2>TA DA..</h2>
    <p>We Welcome you the World of Music! <br> The one stop where you can find enormous music albums <br> and trade your own albums too.</p>
</div>

<%- include('./partials/footer.ejs')%>