<%- include('./partials/header.ejs')%>
<div class="contactpage">
    <h2>Contact us</h2>
    <p>Sai Kumar Reddy Bommareddy <br> Email: sbommar1@uncc.edu <br> Mobile: +1-(980)-267-4704</p>
</div>

<%- include('./partials/footer.ejs')%>