<%- include('./partials/header.ejs')%>
<div class="collections">
      <div class="description">
        <h1> Welcome to the World of Music! </h1>
        <p> The place where The Music of your taste can be find and trade. </p>
        <p> Let's Hear it, See it and Live it. </p>
        <p> Happy Listening! </p>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs')%>